﻿<div id="unsettledBets"></div>


<script type="text/javascript">

    $(document).ready(function () {
        $("#unsettledBets").load('@(Url.Action("RiskyBetsPartial", "Home"))');
    });
</script> 
