﻿<div id="riskyCustomers"></div>


<script type="text/javascript">

    $(document).ready(function () {
        $("#riskyCustomers").load('@(Url.Action("RiskyCustomersPartial", "Home"))');
    });
</script>
