﻿@model List<risks.Services.UnsettledBet>

<h4>Risky Bets</h4>

<table class="table table-responsive table-hover">
    <thead>
        <tr><th>Customer</th><th>Event</th><th>Participant</th><th>Stake</th><th>To Win</th><th>Risk</th></tr>
    </thead>
    <tbody>
    @foreach (var bet in Model)
    {
        <tr class="@bet.RiskValue.ToString().ToLower()" >
            <td>@bet.CustomerId</td>
            <td>@bet.Event</td>
            <td>@bet.Participant</td>
            <td>@bet.Stake</td>
            <td>@bet.ToWin</td>
            <td>@bet.RiskValue</td>
        </tr>
    }
    </tbody>
</table>
