﻿@model List<risks.Services.Customer>

<h4>Risky customers</h4>
<table class="table table-responsive table-hover">
    <thead>
        <tr><th></th><th>Customer</th><th>Event</th><th>Participant</th><th>Stake</th><th>Win</th></tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
            var rowId = "row" + i;
            var customer = Model[i];
            <tr class="clickable" data-toggle="collapse" data-target=".@rowId">
                <td><i class="glyphicon glyphicon-plus"></i></td>
                <td>@customer.CustomerId</td>
                <td></td>
                <td></td>
                <td>Avarage Stake - @customer.AverageStake</td>
                <td>Winning Rate - @customer.WinningRate</td>
            </tr>
            foreach (var customerBet in customer.Bets)
            {
                <tr class="collapse @rowId">
                    <td></td>
                    <td></td>
                    <td>@customerBet.Event</td>
                    <td>@customerBet.Participant</td>
                    <td>@customerBet.Stake</td>
                    <td>@customerBet.Win</td>
                </tr>
            }
        }
    </tbody>
</table>