﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

table .collapse.in {
    display: table-row;
}

#unsettledBets > table > tbody > tr.unusual {
    background-color: #ffbf00 !important;
}

#unsettledBets > table > tbody > tr.highlyunusual {
    background-color: red !important;
}

#unsettledBets > table > tbody > tr.risky {
    background-color: burlywood !important;
}

#unsettledBets > table > tbody > tr.largeamount {
    background-color: darkgoldenrod !important;
}
